
.info-item {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.info-item p {
    font-size: 1.1rem;
    color: #212529;
}

.card {
    border: none;
    border-radius: 1rem;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
@media (max-width: 900px) {
  .d-flex.align-items-center.justify-content-center.mb-4 {
    min-height: 105px !important;
  }
}
